<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카카오채널 친구추가</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>

    <div id="container">
      <p>쏙쏙 카카오톡 채널 친구추가 API가 추가될 페이지입니다</p>
    </div>
    <div class="footer">
        <div class="hlist">
            <div class="social" onclick="location.href = 'https://www.instagram.com/soaksoak_official/'">
                인스타그램
            </div>
            <div class="social" onclick="location.href = 'https://www.notion.so/soaksoakofficial/SOAK-SOAK-ab9c0440b2dd4d68982b1cde551190bf'">
                노션
            </div>
            <div class="social">
                트위터
            </div>
        </div>
    </div>

</body>
</html>