<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <div id="container">
        <div class="vlist">
            <div class="item" onclick="location.href = '/kakao'">
                SOAKSOAK 카카오톡 채널 친구추가하기
            </div>
            <div class="item" onclick="location.href = 'https://open.kakao.com/o/gEpu6o1e'">
                비행기모드 토크쇼 오픈채팅방 바로가기
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="hlist">
            <div class="social" onclick="location.href = 'https://www.instagram.com/soaksoak_official/'">
                인스타그램
            </div>
            <div class="social" onclick="location.href = 'https://www.notion.so/soaksoakofficial/SOAK-SOAK-ab9c0440b2dd4d68982b1cde551190bf'">
                노션
            </div>
            <div class="social">
                트위터
            </div>
        </div>
    </div>

</body>
</html>